* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

#container {
    width: 90%;
    margin: 0 auto;
    height: 116px;
    padding: 40px 0;
}

#headerLeft {
    background-color: lightgray;
    float: left;
    width: 35%;
    height: 36px;
}

#logo {
    float: left;
}

#menuLeft {
    background-color: lightblue;
    float: left;
    height: 36px;
    line-height: 36px;
}

#headerRight {
    background-color: lightgreen;
    float: left;
    width: 65%;
    height: 36px;
    line-height: 36px;
}

#menuRightList {
    float: right;
}

#menuLeftList {
    float: left;
    text-transform: uppercase;
}

#menuLeftList li, #menuRightList li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

#menuLeftList li a, #menuRightList li a {
    text-decoration: none;
}

#accountsDDmenu, #prodottiDDmenu, #aziendaDDmenu {
    position: absolute;
    display: none;
}

#accountsDDmenu li, #prodottiDDmenu li, #aziendaDDmenu li {
    display: block;
    list-style: none;
    padding-left: 10px;
}