* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: sans-serif;
    color: gray;
}

header li a {
    color: gray;
}

header li a:hover {
    color: black;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

#container {
    width: 90%;
    margin: 0 auto;
    height: 116px;
    padding: 40px 0;
}

#headerLeft {
    float: left;
    width: 35%;
    height: 36px;
}

#logo {
    float: left;
}

#menuLeft {
    float: left;
    height: 36px;
    line-height: 36px;
}

#headerRight {
    float: left;
    width: 65%;
    height: 36px;
    line-height: 36px;
}

#menuRightList {
    float: right;
}

#menuLeftList {
    float: left;
    text-transform: uppercase;
}

#menuLeftList li, #menuRightList li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

#menuLeftList li a, #menuRightList li a {
    text-decoration: none;
}

#accountsDDmenu,
#prodottiDDmenu,
#aziendaDDmenu,
#aiutoDDmenu,
#languageDDmenu {
    position: absolute;
    display: none;
}

#accountsDDmenu li,
#prodottiDDmenu li,
#aziendaDDmenu li,
#aiutoDDmenu li,
#languageDDmenu li {
    display: block;
    list-style: none;
    padding-left: 10px;
}