* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: sans-serif;
    color: gray;
}

header li a {
    color: gray;
}

header li a:hover {
    color: black;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

#container {
    width: 90%;
    margin: 0 auto;
    height: 116px;
    padding: 40px 0;
}

#header-left {
    float: left;
    width: 35%;
    height: 36px;
}

#logo {
    float: left;
}

#menu-left {
    float: left;
    height: 36px;
    line-height: 36px;
}

#header-right {
    float: left;
    width: 65%;
    height: 36px;
    line-height: 36px;
}

#menu-right-list {
    float: right;
}

#menu-left-list {
    float: left;
    text-transform: uppercase;
}

#menu-left-list li,
#menu-right-list li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

#menu-left-list li a,
#menu-right-list li a {
    text-decoration: none;
}

#menu-right-list ul {
    position: absolute;
    display: none;
}

#menu-right-list ul li {
    display: block;
    list-style: none;
    padding-left: 10px;
}

.menu-item span {
    cursor: pointer;
}

.menu-item.active-menu {
    color: black;
}